@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


:root {
    --primary-accent: #2b0057;
    --secondary-accent: #41087b;
    --tertiary-accent: #5a0da3;
    --primary-text: #e9e7e9;
    --secondary-text: #cbd9e7;
    --primary-background: #0f0f0f;
    --secondary-background: #1b1b1b;
    --secondary-background-light: #2f2f2f;
    --tertiary-background: #0b0b0b;
    --cube-top: #262626;
    --cube-left: #1a1a1a;
    --cube-right: #0d0d0d;
    --shadow: #080808;
    --invert-svg-filter: invert(1);
    --theme: dark;
}

*::-webkit-scrollbar {
    width: 12px;
}

*::-webkit-scrollbar-track {
    background: var(--shadow);
}

*::-webkit-scrollbar-thumb {
    background-color: var(--secondary-accent);
    border-radius: 20px;
    border: 5px solid var(--secondary-background);
}

* {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 1em;
    overflow-x: hidden;
}

body {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;
    position: relative;
    transition: ease 200ms;
    color: var(--primary-text);
    background-color: var(--cube-right);
    background-image: linear-gradient(
            30deg,
            var(--cube-top) 12%,
            transparent 12.5%,
            transparent 87%,
            var(--cube-top) 87.5%,
            var(--cube-top)
        ),
        linear-gradient(
            150deg,
            var(--cube-top) 12%,
            transparent 12.5%,
            transparent 87%,
            var(--cube-top) 87.5%,
            var(--cube-top)
        ),
        linear-gradient(
            30deg,
            var(--cube-top) 12%,
            transparent 12.5%,
            transparent 87%,
            var(--cube-top) 87.5%,
            var(--cube-top)
        ),
        linear-gradient(
            150deg,
            var(--cube-top) 12%,
            transparent 12.5%,
            transparent 87%,
            var(--cube-top) 87.5%,
            var(--cube-top)
        ),
        linear-gradient(
            60deg,
            var(--cube-left) 25%,
            transparent 25.5%,
            transparent 75%,
            var(--cube-left) 75%,
            var(--cube-left)
        ),
        linear-gradient(
            60deg,
            var(--cube-left) 25%,
            transparent 25.5%,
            transparent 75%,
            var(--cube-left) 75%,
            var(--cube-left)
        );
    background-size: 80px 140px;
    background-position: 0 0, 0 0, 40px 70px, 40px 70px, 0 0, 40px 70px;
}

.animated {
    transition: cubic-bezier(.46,-0.7,.45,2) 400ms;
}

.animated:hover {
    box-shadow: 0 0 1.5em 0.2em var(--primary-accent);
    transform: scale(1.05);
}

.wrap {
    flex-wrap: wrap;
}

.shadow {
    box-shadow: 0 0 1.5em 0.2em var(--shadow);
}

.hidden {
    display: none;
}

header {
    top: 0;
    width: 100vw;
    height: 4.5em;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #e9e7e9;
    background-color: var(--primary-accent);
    overflow: hidden;
}

h1 {
    font-size: 1.5em;
    font-weight: 500;
    padding-left: 1em;
}

h2 {
    font-size: 1.2em;
    font-weight: 500;
    margin: 0.5em 1em;
}

.main {
    min-width: 52em;
    width: 90%;
    max-width: 100em;
    min-height: 100vh;
    padding: 2em 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: var(--primary-background);
}

#themeSwitch {
    position: fixed;
    z-index: 1;
    right: 1vw;
    bottom: 1vh;
    height: 5em;
    width: 5em;
    cursor: pointer;
    border-radius: 50%;
    background-color: var(--secondary-background-light);
    filter: opacity(0.6);
}

#themeSwitch img {
    filter: var(--invert-svg-filter);
}

.separator {
    width: 80%;
    padding: 0.5rem;
    margin: 1em;
    border-bottom: 0.2em solid var(--secondary-background);
}

.container {
    width: 80%;
    max-width: 60em;
    min-height: 3em;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    background-color: var(--tertiary-background);
    color: var(--secondary-text);
    border-radius: 1em;
    border: 0.15em solid var(--secondary-background);
    padding: 2em;
    margin: 1em;
}

.profilePic {
    margin: 1.2em;
    position: relative;
    overflow: visible;
}

.profilePic a {
    cursor: default;
}

.avatar {
    width: 16em;
    height: 16em;
    border-radius: 50%;
    border: 3px solid var(--secondary-background);
}

.githubLogo {
    width: 3em;
    height: 3em;
    position: absolute;
    bottom: 1em;
    right: 1em;
    border-radius: 50%;
    cursor: pointer;
    border: 3px solid var(--secondary-background);
}

.description {
    width: 50%;
    display: flex;
    text-align: justify;
}

.project {
    display: flex;
    flex-direction: column;
    background-color: var(--secondary-background);
    color: var(--secondary-text);
    padding: 1em;
    border-radius: 1em;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    margin: 1em;
    max-width: 25em;
    min-height: 15em;
    }

.project:hover {
    background-color: var(--secondary-background-light);
}

.projectImg {
    min-width: 1em;
    max-width: 8em;
}

.projectDesc {
    margin: 1em;
    text-align: justify;
}

footer {
    bottom: 0;
    width: 100vw;
    height: 4em;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #e9e7e9;
    background-color: var(--primary-accent);
    overflow: hidden;
}

@media screen and (max-width: 56em) {
    body {
        background-image: none;
        font-size: 1em;
        font-weight: 700;
    }

    h1 {
        font-size: 1.2em;
    }

    h2 {
        font-size: 1em;
    }

    .separator,
    .container {
        max-width: 80vw;
        margin: 1em;
    }

    .project {
        max-width: 20em;
        margin: 0.5em;
    }
}
